 /* Estilos Globais */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #9b59b6; /* Alterado para roxo */
}

a {
    color: #9b59b6; /* Alterado para roxo */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Página Artistas */
.artist-card {
    background-color: #282828;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border-left: 5px solid #9b59b6; /* Alterado para roxo */
    display: flex;
    align-items: center;
    max-width: 400px; /* Mesmo tamanho do post de evento */
    margin: 20px auto; /* Centralizando */
}

.artist-card img {
    width: 100px;
    height: 100px; /* Mantendo proporção quadrada */
    object-fit: cover; /* Garantindo que a imagem se ajuste ao quadrado */
    border-radius: 8px;
    margin-right: 20px;
}

.artist-card h3 {
    margin-top: 0;
    color: #ffffff;
}

.artist-card p {
    color: #b0b0b0;
}

.artist-card a {
    color: #9b59b6; /* Alterado para roxo */
    text-decoration: none;
}

.artist-card a:hover {
    text-decoration: underline;
}

/* Página Eventos */
.event-item {
    background-color: #282828;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    border-left: 5px solid #9b59b6; /* Alterado para roxo */
    max-width: 400px; /* Mesmo tamanho do post de artista */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-poster {
    width: 100%;
    text-align: center;
}

.event-poster img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.event-details {
    margin-top: 20px;
}

.event-details h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.event-details p {
    color: #b0b0b0;
    margin-bottom: 10px;
}

.event-details .cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9b59b6; /* Alterado para roxo */
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.event-details .cta-button:hover {
    background-color: #8e44ad; /* Alterado para um roxo mais escuro */
}

/* Social Media */
.social-media h2 {
    color: #ffffff;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media ul li {
    margin: 10px 0;
}

.social-media ul li a {
    color: #9b59b6; /* Alterado para roxo */
    text-decoration: none;
}

.social-media ul li a:hover {
    text-decoration: underline;
}

/* Rodapé */
.main-footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    color: #b0b0b0;
}